.main-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.search-container {
  background-color: transparent;
  border-style: solid;
  padding: 5px;
  border-color: #7b8794;
  color: #7b8794;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.search {
  background-color: transparent;
  border-style: none;
  font-weight: 600;
  outline: none;
  width: 90%;
}

.search-image {
  height: 20px;
  width: 20px;
}

.tab-list-container {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.app-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  width: 80%;
  justify-content: center;
  padding: 20px;
}
